.DS_Store
inventories/*/group_vars/all_servers/vault-secrets.yml
inventories/*/group_vars/local/vault-ssh.yml
inventories/*/group_vars/local/vault-ca-certs.yml
resources/*/cacerts/*.crt
resources/*/certs/*.crt
resources/*/ca-config/index.*
resources/*/ca-config/serial.*
resources/*/dhparams/*.pem
resources/test/openldap/info.yml
resources/test/postgresql/info.yml
